{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $email := promptStringOnce . "email" "Your email" -}}
{{- $isWork := promptBoolOnce . "isWork" "Is this a work account?" -}}
{{- $isCrypto := promptBoolOnce . "isCrypto" "Do you want to enable crypto?" -}}
{{- $isGaming := promptBoolOnce . "isGaming" "Do you want to enable gaming?" -}}
{{- $isMultimedia := promptBoolOnce . "isMultimedia" "Do you want to enable multimedia?" -}}

[data]
  name = "{{ $name }}"
  email = "{{ $email }}"

  work = {{ $isWork }}
  crypto = {{ $isCrypto }}
  gaming = {{ $isGaming }}
  multimedia = {{ $isMultimedia }}
