{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $email := promptStringOnce . "email" "Your email" -}}
{{- $fs_choices := list "ext4" "btrfs" "xfs" -}}
{{- $fs_type := promptChoiceOnce . "fs_type" "What is your filesystem type" $fs_choices -}}
{{- $isIncus := promptBoolOnce . "incus" "Do you want to configure Incus?" -}}
{{- $isWork := promptBoolOnce . "work" "Is this a work account?" -}}
{{- $isCrypto := promptBoolOnce . "crypto" "Do you want to enable crypto?" -}}
{{- $isGaming := promptBoolOnce . "gaming" "Do you want to enable gaming?" -}}
{{- $isMultimedia := promptBoolOnce . "multimedia" "Do you want to enable multimedia?" -}}
{{- $isHermes := promptBoolOnce . "hermes" "Do you want to enable Hermes?" -}}
{{- $isHermesWeb := promptBoolOnce . "hermes_web" "Do you want to enable Hermes WebUI?" -}}
{{- $baseDomain := "" -}}
{{- if $isHermesWeb -}}
{{-   $baseDomain = promptStringOnce . "base_domain" "Base domain for Hermes WebUI" -}}
{{- end -}}

[data]
  name = "{{ $name }}"
  email = "{{ $email }}"

  fs_type = "{{ $fs_type }}"

  incus = {{ $isIncus }}
  work = {{ $isWork }}
  crypto = {{ $isCrypto }}
  gaming = {{ $isGaming }}
  multimedia = {{ $isMultimedia }}
  hermes = {{ $isHermes }}
  hermes_web = {{ $isHermesWeb }}
{{ if $isHermesWeb }}
  base_domain = "{{ $baseDomain }}"
{{ end }}
