Brewfile

{{ if not .work }}
**/gpg-agent*.socket
**/code.desktop
**/cursor.desktop
**/cursor.svg
.local/bin/cursor
install-ngrok.sh
{{ end }}

{{ if not .crypto }}
**/*trezor-suite*
{{ end }}

{{ if not .incus }}
incus-preseed.yaml
incus-preseed.sh
{{ end }}

{{ if not (or .hermes .hermes_web) }}
.config/systemd/user/hermes-api.service
.config/systemd/user/graphical-session.target.wants/hermes-api.service
{{ end }}

{{ if not .hermes_web }}
.config/autostart/hermes-browser.desktop
.config/environment.d/hermes-browser.conf
.config/traefik
.config/systemd/user/hermes-webui.service
.config/systemd/user/traefik.service
.local/bin/hermes-browser
{{ end }}
