{{ if not .work }}
/**/gpg-agent*.socket
/**/code.desktop
/**/cursor.desktop
/**/cursor.svg
.local/bin/cursor
install-ngrok.sh
{{ end }}

{{ if not .gaming }}
/**/Ryujinx.desktop
/**/suyu_emu.suyu.desktop
/**/suyu.svg
/**/Ryujinx.svg
.config/Ryujinx
.config/suyu
.local/share/suyu
{{ end }}

{{ if not .crypto }}
/**/*trezor-suite*
{{ end }}
