{{- $releaseApiUrl := "https://api.github.com/repos/anomalyco/opencode/releases/latest" -}}
{{- $asset := "opencode-desktop-linux-x86_64.AppImage" -}}
{{ includeTemplate "install-appimage" (dict
    "name" "OpenCode"
    "releaseApiUrl" $releaseApiUrl
    "asset" $asset
    "filename" "opencode-desktop.AppImage"
    "desktopFilename" "opencode.desktop"
    "signatureKeyUrl" ""
) }}
