#! /usr/bin/env bash

set -euxo pipefail

VERSION="24.12.3"
DOWNLOAD_URL="https://github.com/trezor/trezor-suite/releases/download/v${VERSION}/Trezor-Suite-${VERSION}-linux-amd64.AppImage"

# download trezor-suite appimage
mkdir -p ~/.local/share/libexec
curl -Lo ~/.local/share/libexec/trezor-suite.AppImage "$DOWNLOAD_URL"

# verify trezor-suite appimage signature
curl -Lo ~/.local/share/libexec/trezor-suite.AppImage.asc "$DOWNLOAD_URL.asc"
curl https://trezor.io/security/satoshilabs-2021-signing-key.asc | gpg2 --import
gpg2 --verify ~/.local/share/libexec/trezor-suite.AppImage.asc ~/.local/share/libexec/trezor-suite.AppImage
rm ~/.local/share/libexec/trezor-suite.AppImage.asc

chmod +x ~/.local/share/libexec/trezor-suite.AppImage
