{{- $repository := "anomalyco/opencode" -}}
{{- $asset := "opencode-desktop-linux-x86_64.AppImage" -}}
{{ includeTemplate "install-appimage" (dict
    "name" "OpenCode"
    "repository" $repository
    "asset" $asset
    "filename" "opencode-desktop.AppImage"
    "desktopFilename" "opencode.desktop"
    "desktopExec" "opencode-desktop %U"
    "signatureKeyUrl" ""
) }}
