#!/usr/bin/env bash

# Function to install a flatpak from GitHub releases
install_github_flatpak() {
  local owner="$1"
  local repo="$2"
  local flatpak_id="$3"

  echo "Installing $repo ($flatpak_id) from GitHub releases..."
  
  # Download the latest release
  download_url=$(curl -s "https://api.github.com/repos/$owner/$repo/releases/latest" | jq -r '.assets[] | select(.name | contains("flatpak")) | .browser_download_url')
  if [ -n "$download_url" ]; then
    local filename=~/Downloads/$(basename "$download_url")
    echo "Downloading from: $download_url"
    curl -L "$download_url" -o "$filename" --create-dirs
    flatpak uninstall --user --assumeyes "$flatpak_id" || true
    echo "Installing $flatpak_id from $filename"
    flatpak install --user --noninteractive --assumeyes "$filename"
  else
    echo "Failed to find download URL for $owner/$repo"
  fi
}

flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

# default flatpak packages
default=(
    com.github.tchx84.Flatseal
    org.mozilla.firefox
    io.github.ungoogled_software.ungoogled_chromium
    io.github.ungoogled_software.ungoogled_chromium.Codecs
    com.transmissionbt.Transmission
)

work=(
    com.logseq.Logseq
    md.obsidian.Obsidian
    us.zoom.Zoom
    com.slack.Slack
    org.remmina.Remmina
    org.wireshark.Wireshark
    org.torproject.torbrowser-launcher
    com.github.jeromerobert.pdfarranger
    org.libreoffice.LibreOffice
    com.github.maoschanz.drawing
    com.github.xournalpp.xournalpp
    com.nextcloud.desktopclient.nextcloud
)

crypt=(
    org.getmonero.Monero
    io.exodus.Exodus
)

gaming=(
    com.parsecgaming.parsec
    com.valvesoftware.Steam
    com.valvesoftware.Steam.CompatibilityTool.Proton-GE
    net.davidotek.pupgui2
)

multimedia=(
    io.mpv.Mpv
    org.gimp.GIMP
    com.github.iwalton3.jellyfin-media-player
)

flatpaks=("${default[@]}")

{{- if .work }}
flatpaks+=("${work[@]}")
{{- end }}

{{- if .multimedia }}
flatpaks+=("${multimedia[@]}")
{{- end }}

{{- if .crypto}}
flatpaks+=("${crypto[@]}")
{{- end }}

{{- if .gaming }}
flatpaks+=("${gaming[@]}")
{{- end }}

flatpak install --user --noninteractive --assumeyes flathub "${flatpaks[@]}"

{{- if .multimedia }}
install_github_flatpak "DonutWare" "Fladder" "nl.jknaapen.fladder"
{{- end }}
