#!/usr/bin/env bash

set -euxo pipefail

if [ ! -r /run/incus/unix.socket ]; then
    exit 0
fi

# incus-preseed.yaml hash: {{ includeTemplate "incus-preseed.yaml.tmpl" . | sha256sum }}{{ if stat "/run/incus/unix.socket" }}-exists{{ end }}
incus admin init --preseed <<'EOF'
{{ includeTemplate "incus-preseed.yaml.tmpl" . }}
EOF
