#!/usr/bin/env bash

set -euxo pipefail

if [ ! -r /run/incus/unix.socket ]; then
    exit 0
fi

# incus-preseed.yaml hash: {{ include "incus-preseed.yaml" | sha256sum }}{{ if stat "/run/incus/unix.socket" }}-exists{{ end }}
incus stop --all
incus admin init --preseed <{{ joinPath .chezmoi.sourceDir "incus-preseed.yaml" | quote }}
