{{- if .gaming }}
{{- $releaseApiUrl := "https://git.eden-emu.dev/api/v1/repos/eden-emu/eden/releases/latest" -}}
{{- $asset := "Eden-Linux-{version}-amd64-clang-pgo.AppImage" -}}
{{ includeTemplate "install-appimage" (dict
    "name" "Eden"
    "releaseApiUrl" $releaseApiUrl
    "asset" $asset
    "filename" "eden.AppImage"
    "desktopFilename" "eden.desktop"
    "signatureKeyUrl" ""
) }}
{{- end }}
