[Unit]
Description=Incus initialization with preseed file
BindsTo=incus.service
After=incus.service
PartOf=incus.service
ConditionPathExists=/etc/incus-preseed.yaml

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c '/usr/bin/incus admin init --preseed </etc/incus-preseed.yaml'

[Install]
WantedBy=incus.service
