[Desktop Entry]
Type=Application
Name=Hermes Browser
Comment=Visible Chromium browser controlled by Hermes over CDP
Exec=/home/{{ .chezmoi.username }}/.local/bin/hermes-browser
Terminal=false
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=true
